<igx-navbar class="navbar">
  <igx-navbar-title class="navbar-content">
    <h6 class="h6">
      App Name
    </h6>
  </igx-navbar-title>
  <button igxButton="icon" igxRipple>
    <igx-icon>
      search
    </igx-icon>
  </button>
  <button igxButton="icon" igxRipple>
    <igx-icon>
      favorite
    </igx-icon>
  </button>
  <button igxButton="icon" igxRipple>
    <igx-icon>
      more_vert
    </igx-icon>
  </button>
</igx-navbar>
<div class="row-layout group">
  <igx-nav-drawer [pin]="true" [pinThreshold]="1024" width="320px" class="nav-drawer">
    <ng-template igxDrawerMini>
      <div igxDrawerItem igxRipple routerLink="/view1">
        <igx-icon class="icon">
          account_circle
        </igx-icon>
      </div>
      <div igxDrawerItem igxRipple routerLink="/view2">
        <igx-icon class="icon">
          assignment_turned_in
        </igx-icon>
      </div>
      <div igxDrawerItem igxRipple routerLink="/view3">
        <igx-icon class="icon">
          assessment
        </igx-icon>
      </div>
    </ng-template>
    <ng-template igxDrawer>
      <div igxDrawerItem igxRipple>
        <igx-icon class="icon">
          account_circle
        </igx-icon>
        <span>Title goes here</span>
      </div>
    </ng-template>
  </igx-nav-drawer>
  <div class="view-container">
    <router-outlet></router-outlet>
  </div>
</div>
